<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3" style="background-color: #4BB5AB">
    <a class="navbar-brand my-1" style="margin-left: 9vw;"><b class="monceratFont">BKR Prytula</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav float-lefto">
        <a class="nav-item nav-link robotoFont" href="/main-page" style="margin-left: 3vw; margin-right: 1vw; color: #FFFFFF;">Main page</a>
        <a class="nav-item nav-link robotoFont" href="/course-page" style="color: #FFFFFF;">Courses</a>
      </div>
      <div class="navbar-nav mx-3" style="right: 5vw !important;">
        <a class="nav-item nav-link" href="/account-page" *ngIf="loginService.isLoggedIn()">
          <img src="../../assets/accountIcon.ico"style="width: 38px; height: 35px;">
        </a>
        <a class="nav-item nav-link" href="/login-page" *ngIf="loginService.isLoggedIn()">
          <img src="../../assets/logoutIcon.ico"style="width: 35px; height: 35px;" (click)="logout()">
        </a>
      </div>
    </div>
  </nav>  
</header>