<div class="container p-3" style="width: 40vw;">
    <div class="container mb-2">
    <h1 class="monceratFont">Themes</h1>
    <div class="row my-4">
        <button class="btn btn-sm btn-block col-4 mybutton" style="width: 150px !important;" (click)="createTheme()" *ngIf="loginService.getCurrentUserRole() !== 'user'">Create Theme</button>    
        <div class="form-group col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search themes by name" #searchField>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-block mybutton" 
                    style="border-top-left-radius: 0%; border-bottom-left-radius: 0%; width: 100px !important; height: auto;" 
                    (click)="searchThemes(searchField.value)">Search</button>
                </span>
            </div>
        </div>
    </div>
   </div>    
    <div class="container p-5 mt-3 themeHolder" style="min-height: 30vh;"  *ngFor="let t of service.themes; let i = index">
        <div class="my-2">
           <h3 class="monceratFont mb-4">{{t.title}} <span style="font-style: italic; color: green; font-size: small;" *ngIf="isThemeFinished(t.id)">finished</span></h3>
            <p>{{t.description}}<p>
            <div class="row justify-content-between">
                <ngb-rating class="col-4" [readonly]="true" [max]="5" [(rate)]="service.ratings[i]"></ngb-rating>
                <p class="col-4" style="font-style: italic; font-size: small;">Created by {{t.createdByUser}}</p>
            </div>
            <div class="pb-5" layoyt="row">
                <button class="btn btn-sm btn-block my-3 mx-1 float-start mybutton" style="width: 120px;" (click)="learnTheme(t.id)">Learn theme!</button>
                <a class="my-3 mx-1 float-end" *ngIf="loginService.getCurrentUserRole() === 'admin' || t.createdByUser === loginService.getCurrentUserName()">
                    <img src="../../assets/deleteButton.jpg" style="height: 40px; cursor: pointer;" (click)="deleteTheme(t.id)">
                </a>
                <a class="my-3 mx-1 float-end" *ngIf="loginService.getCurrentUserRole() === 'admin' || t.createdByUser === loginService.getCurrentUserName()">
                    <img src="../../assets/updateButton.jpg" style="height: 40px; cursor: pointer;" (click)="updateTheme(updateThemeModal)">
                </a>
            </div>        
            <ng-template #updateThemeModal let-modal>
                <div class="p-5">
                    <h4 class="modal-title monceratFont" id="modal-basic-title">Update theme</h4>
                    <div class="container mb-3">
                        <div class="form-group mt-3">
                            <label class="my-2">Title </label>
                            <input class="form-control" name="name" value="{{t.title}}" #title>
                        </div>
                        <div class="form-group mt-3">
                            <label class="my-2">Description</label>
                            <textarea class="form-control mb-4" style="min-height: 200px;"name="description" value="{{t.description}}" #description></textarea>
                        </div>
                    </div>
                    <div class="my-3 row">
                        <button type="button" class="btn mx-4 btn-outline-dark col" (click)="modal.dismiss()">Cancel</button>
                        <button type="button" class="btn mx-4 btn-block col mybutton" (click)="modal.close
                        ({
                            id: t.id,
                            title: title.value,
                            description: description.value,
                            createdByUser: t.createdByUser,
                            tasks : t.tasks,
                            studyingMaterials : t.studyingMaterials
                        })">Update</button>
                    </div>
                </div>
            </ng-template>
        </div>    
    </div>  
</div>
