<div class="row robotoFont">
    <div class="col mx-5">
        <div class="container themeHolder p-5">
            <h4 class="my-4">Username: {{userName}}</h4>
            <h4 class="my-4">Role: {{userRole}}</h4>
            <h4 class="my-4">Score: {{statistic.rating}}</h4>
            <h4 class="my-4">Total finished courses: {{finishedCoursesCount}}</h4>
            <div class="text-center">
                <button class="btn btn-sm btn-block mt-3 mybutton" (click)="updateStatistic()">Renew statistic</button>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-sm btn-block mt-3 mybutton" (click)="grantRole(grantRoleModal)" *ngIf="loginService.getCurrentUserRole() === 'admin'">View users statistic</button>
        </div>
    </div>
    <div class="col mx-5 px-5">
        <div class="container px-5 pt-0">
            <div class="themeHolder p-4 my-3" *ngFor="let s of coursesStatistic">
                <h3 class="monceratFont my-3">{{s[0]}}</h3>
                <p class="my-2">Finished themes rate: {{s[1]}} %</p>
                <p class="my-2">Score: {{s[2]}}</p>
            </div>
        </div>
    </div>
</div>

<ng-template #grantRoleModal let-modal>
    <div class="p-5">
        <h4 class="monceratFont mb-4">Users statistic</h4>
        <table class="table table-striped">
            <thead>
              <tr>
                <th class="mr-2">Login</th>
                <th>Rating score</th>
                <th>Finished courses</th>
                <th>Finished themes</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of usersStatistic;">
                <td class="mr-2">{{s.userLogin}}</td>
                <td>{{s.rating}}</td>
                <td>{{s.finishedCourses.length}}</td>
                <td>{{s.finishedThemes.length}}</td>
                <td>
                  <button type="button" class="btn btn-block col mybutton" style="width: 5vw;" (click)="modal.close(s.userLogin)">Grant expirienced user</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</ng-template>