<div class="container working-area">
    <div class="container p-5">
        <div class="container mb-1 pb-0">
            <div class="form-group mt-3">
                <label><p class="monceratFont" style="font-size: 36px;">Question</p></label>
            </div>
        </div> 
        <div class="px-5 py-3" [ngSwitch]="task.type">
            <div class="container pt-0" *ngSwitchCase="0" #answers>
                <h4 class="mb-3 monceratFont">{{task.question}}</h4>
                <div class="form-check mx-2">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" #yesansw [checked]="!noansw.checked">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check mx-2">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" #noansw [checked]="!yesansw.checked">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>
            <div class="container mb-3 p-5 pt-0" *ngSwitchCase="1">
                <h4 class="mb-3 monceratFont">{{task.question}}</h4>
                <div class="form-check mx-2" *ngFor="let a of task.answers" #answers>
                    <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1">
                    <label class="form-check-label" for="inlineRadio1">{{a.content}}</label>
                </div>
            </div>
            <div class="container mb-3 p-5 pt-0" *ngSwitchCase="2">
                <h4 class="mb-3 monceratFont">{{task.question}}</h4>
                <div class="form-group mt-3">
                    <label class="m-2">Enter gap answer:</label>
                    <input class="form-control form-control-sm" name="answer" #answers>
                </div>
            </div>
            <div *ngSwitchCase="3">
                <h4 class="mb-3 monceratFont">{{splitQuestion()[0]}}</h4>
                <div class="p-4">
                    <span *ngFor="let a of task.answers; let i = index;" #answers>                   
                        <pre style="display: inline;">{{splitQuestion()[i+1]}}<input name="answer"></pre>
                    </span>
                    <pre style="display: inline;">{{splitQuestion()[splitQuestion().length-1]}}</pre>
                </div>
            </div>
            <div *ngSwitchDefault>Cannot show task of undefined type</div>
          </div>
        <div class="text-center mb-2">
            <button type="button" class="btn btn-sm btn-block m-3 mybutton" (click)="goToStudyingMaterials()">Go to studying materials</button>
            <button type="button" class="btn btn-sm btn-block m-3 mybutton" (click)="getNextTask()">Answer</button>
        </div>
    </div>
</div>