<div class="container" style="width: 50vw;">
    <form class="form-control themeHolder p-5" novalidate #form="ngForm" (submit)="createTheme(form)">
        <h3 class="text-center mt-3 monceratFont">Create new theme</h3>
        <div class="form-group mt-3">
            <label class="my-3">Title </label>
            <input class="form-control" name="name" placeholder="Title" #title="ngModel" [(ngModel)]="service.formData.title" required>
        </div>
        <div class="form-group mt-3">
            <label class="my-3">Description: </label>
            <textarea class="form-control" style="min-height: 200px;"name="description" placeholder="Description" 
                #description="ngModel" [(ngModel)]="service.formData.description" required></textarea>
        </div>

        <div class="container my-5" *ngFor="let sm of service.formData.studyingMaterials">
            <div class="form-group mt-3 text-center ">
                <p class="monceratFont">Material with title '{{sm.title}}'</p>
                <a class="my-3 mx-1">
                    <img src="../../assets/deleteButton.jpg" style="height: 40px;" (click)="removeMaterial(sm)">
                </a>
            </div> 
        </div>

        <div class="container my-5" *ngFor="let t of service.formData.tasks">
            <div class="form-group mt-3 text-center" #divWithTask>
                <p class="monceratFont">Task with question '{{t.question}}'</p>    
                <a class="my-3 mx-1">
                    <img src="../../assets/deleteButton.jpg" style="height: 40px;" (click)="removeTask(t)">
                </a>
            </div> 
        </div>

        <div class="form-group mt-5 text-center">
            <button class="btn btn-sm btn-block mb-3 mx-3 mybutton" type="button" (click)="addMaterial(createStudyingMaterial)">Add studying material</button>
            <button class="btn btn-sm btn-block mb-3 mx-3 mybutton"  type="button" (click)="selectTaskType(chooseTaskType)">Add practical task</button>
        </div>
        <div class="form-group mt-3 text-center">
            <button class="btn btn-sm btn-block mb-3 mx-3 mybutton" type="Submit" [disabled]="form.invalid">Create theme</button>
        </div>
    </form>
</div>

<ng-template #chooseTaskType>
    <div class="container my-3 text-center">
        <h4 class="text-center" id="modal-basic-title">Chose the type of task:</h4>
    </div>
    <div class="container mb-3 text-center">
        <div class="form-group mt-3">
            <button type="button" class="btn btn-sm btn-block mb-3 mx-3 mybutton" (click)="addTask(closeQuestion)">Closed question</button>
        </div>
        <div class="form-group mt-3">
            <button type="button" class="btn btn-sm btn-block mb-3 mx-3 mybutton" (click)="addTask(multiChoiseQuestion)">Multichoise question</button>
        </div>
        <div class="form-group mt-3">
            <button type="button" class="btn btn-sm btn-block mb-3 mx-3 mybutton" (click)="addTask(gapQuestion)">Filling gaps</button>
        </div>
        <div class="form-group mt-3">
            <button type="button" class="btn btn-sm btn-block mb-3 mx-3 mybutton" (click)="addTask(sentenceQuestion)">Sentence gap task</button>
        </div>
    </div>
</ng-template>

<ng-template #closeQuestion let-modal>
    <div class="p-5 robotoFont">
        <h4 class="modal-title monceratFont" id="modal-basic-title">Create closed question</h4>
        <div class="container mb-3">
            <div class="form-group mt-3">
                <label class="my-3">Enter question</label>
                <textarea class="form-control" style="min-height: 200px;"name="question" placeholder="question" #question required></textarea>
            </div>
            <div class="container mt-3 text-center">
                <label class="text-center m-2">Answer: </label>
                <div class="form-check form-check-inline mx-2">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" #yesansw checked>
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline mx-2">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" #noansw>
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>  
        </div>
        <div class="my-3 row">
            <button type="button" class="btn mx-4 btn-outline-dark col" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn mx-4 btn-block col mybutton" (click)="modal.close
            ({
                id: 0,
                question: question.value,
                type: 0,
                answers: [ {id: 0, content: 'yes', isCorrect: yesansw.checked }, {id: 0, content: 'no', isCorrect: noansw.checked } ]
            })">Add task</button>
        </div>
    </div>
</ng-template>

<ng-template #multiChoiseQuestion let-modal>
    <div class="p-5 robotoFont">
        <h4 class="modal-title monceratFont" id="modal-basic-title">Create multi choise question</h4>
        <div class="container mb-3">
            <div class="form-group mt-3">
                <label class="my-3">Enter question</label>
                <textarea class="form-control" style="min-height: 200px;"name="question" placeholder="Question" #question required></textarea>
            </div>
            <p class="text-center mt-3 monceratFont">Answers</p>
            <div  class="my-3" *ngFor='let answ of answers'>
                <div class="row">
                    <div class="col">
                        <input class="form-control" [(ngModel)]="answ.content" minlength="1">
                    </div>
                    <div class="col form-check form-check-inlinel" style="margin-top: 6px;">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)]="answ.isCorrect"
                            [ngModelOptions]="{standalone: true}"/>
                            <label class="form-check-label" for="inlineCheckbox1">Is correct</label>
                    </div>
                </div>
            </div>
            <div class="container col text-center">
                <button type="button" class="btn btn-danger btn-sm btn-block m-3" style="width: 30px !important; height: 30px;" (click)="removeAnswer()"> - </button>
                <button type="button" class="btn btn-sm btn-block m-3 mybutton" style="width: 30px !important; height: 30px;" (click)="addAnswer()"> + </button>
            </div> 
        </div>
        <div class="my-3 row">
            <button type="button" class="btn mx-4 btn-outline-dark col" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn mx-4 btn-block col mybutton" (click)="modal.close
            ({
                id: 0,
                question: question.value,
                type: 1,
                answers: answers
            })">Add task</button>
        </div>
    </div>
</ng-template>

<ng-template #gapQuestion let-modal>
    <div class="p-5 robotoFont">
        <h4 class="modal-title monceratFont" id="modal-basic-title">Create gap question</h4>
        <div class="container mb-3">
            <div class="form-group mt-3">
                <label class="my-3">Enter strat of the sentence</label>
                <input class="form-control" name="question1" #question1>
            </div>
            <div class="form-group mt-3">
                <label class="my-3">Enter gap answer</label>
                <input class="form-control" name="answer" #answer>
            </div>
            <div class="form-group mt-3">
                <label class="my-3">Enter end of the sentence</label>
                <input class="form-control" name="question2" #question2>
            </div>
        </div>
        <div class="mt-5 row">
            <button type="button" class="btn mx-4 btn-outline-dark col" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn mx-4 btn-block col mybutton" (click)="modal.close({
                id: 0,
                question: concatQuestion(question1.value, question2.value),
                type: 2,
                answers: [ {id: 0, content: answer.value, isCorrect: true } ]
            })">Add task</button>
        </div>
    </div>
</ng-template>

<ng-template #sentenceQuestion let-modal>
    <div class="p-5 robotoFont">
        <h4 class="modal-title monceratFont" id="modal-basic-title">Create sentence question</h4>
        <div class="form-group mt-3">
            <label class="my-3">Enter strat of the sentence</label>
            <input class="form-control" name="questionStart" #questionStart>
        </div>
        <div  class="my-3" *ngFor='let aq of answerQuestions;'>
            <div class="form-group mt-3">
                <label class="my-3">Enter gap Answers</label>
                <input class="form-control" [(ngModel)]="aq.answer">
            </div>
            <div class="form-group mt-3">
                <label class="my-3">Enter sentence continuation</label>
                <input class="form-control" [(ngModel)]="aq.question">
            </div>
        </div>
        <div class="container col text-center">
            <button type="button" class="btn btn-danger btn-sm btn-block m-3" style="width: 30px !important; height: 30px;" (click)="removeAnswerQuestion()"> - </button>
            <button type="button" class="btn btn-sm btn-block m-3 mybutton" style="width: 30px !important; height: 30px;" (click)="addAnswerQuestion()"> + </button>
        </div> 
        <div class="mt-4 row">
            <button type="button" class="btn mx-4 btn-outline-dark col" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn mx-4 btn-block col mybutton" (click)="modal.close({
                id: 0,
                question: concatQuestions(questionStart.value, getOnlyQuestions(answerQuestions)),
                type: 3,
                answers: getOnlyAnswers(answerQuestions)
            })">Add task</button>
        </div>
    </div>
</ng-template>

<ng-template #createStudyingMaterial let-modal>
    <div class="p-5 robotoFont">
        <h4 class="monceratFont">Create studying material</h4>
        <div class="container mb-3">
            <div class="form-group mt-3">
                <label class="my-3">Title: </label>
                <input class="form-control" name="name" placeholder="title" #title>
            </div>
            <div class="form-group mt-3">
                <label class="my-3">Content: </label>
                <textarea class="form-control" style="min-height: 200px;"name="content" placeholder="content" #content></textarea>
            </div>
        </div>
        <div class="mt-4 row">
            <button type="button" class="btn mx-4 btn-outline-dark col" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn mx-4 btn-block col mybutton" (click)="modal.close({
                id: 0,
                title: title.value,
                content: content.value
            })">Create</button>
        </div>
    </div>
</ng-template>