@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
  }
  
  footer {
    background-color: rgb(61,163,167);
    color: #FFFFFF !important;
  }

  .mybutton {
    width: 200px !important;
    height: 36px;
    border-radius: 5px;
    background-color: #4BB5AB !important;
    color:  #FFFFFF;
  }

  .underfooter {
    background-color: #4BB5AB;
  }
  
  .formbg {
    background-color: rgb(255, 255, 255);
  }

  .bg {
    background-color: rgb(255, 255, 255);

    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .working-area {
    width: 50vw;
    min-height: 55vh;

    background: #FFFFFF;

    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }

  .monceratFont {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 700 !important;
  }
  
  .robotoFont {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
  }

  .themeHolder { 
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }