<div class="container p-3 shadow-sm p-3 mb-5 bg-white rounded working-area">
   <div class="container">
    <div class="mt-2 p-3">
        <p class="text-center pt-3 monceratFont" style="font-size: 36px; font-weight: 500;">Let's learn!</p>
        <p class="px-3 pt-3 robotoFont">This site will teach you programming with .NET, JAVA, C++, HTML and others! You can create your themes in scope of proposed courses with your own studying materials and tasks! Also you can check statistics of passed courses and themes in your account! Don't forget to tell about this site to your friends. In case of any questions you can contact developer on pritularllya@gmail.com.<p>
        <div style="text-align: center;">
            <button class="btn btn-sm btn-block my-3 mx-1 mybutton" (click)="learnCoruses()">Start learning!</button>
        </div>
    </div>    
   </div>
</div>